@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: #ffddd3;
    --color-main-light: #fef0eb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #fff;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #fef0eb;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-dark);
    background-color: var(--color-bg);
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.topic-box{
    border-radius: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0.5rem;
    background-color: var(--color-light);
}

.questionlist-container{
    min-height: 10.5rem;
    padding: 0 1rem;
}

.questionlist-box{
    margin: 1em 0;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--color-light);
}

.qa-container {
    padding: 0 1em 0 2em;
}

.qa {
    --bs-gutter-x: 0;
    background-color: #d9ead3;
}

.question-header {
    background-color: #f3989a;
    color:  var(--color-light);
}

.question-container {
    margin: 0 1.5em;
    padding: 1em;
    background-color: var(--color-main);
}

.answer-container {
    margin: 1em 1em;
    background-color: var(--color-bg);
}

.myqa-container {
    padding: 0 2em 0 1em;
}

.myqa {
    padding: 0;
    background-color: #d9ead3;
}

.myqa-header {
    background-color: #899680;
    color:  var(--color-light);
}

.answer-form {
    margin: 1em 1em;
}

.answer-form form input{
    width: 100%;
}

.page-content {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffddd3;
    padding: 20px 20px;
    font-size: medium;
}

.logo-image {
    width: 90px;
    height: auto;
}

.nav-link {
    margin: 0 20px;
    font-size: 90%;
}

.container-fluid {
    height: 100px;
    width: 100%;
    background-color: #ffddd3;
    position: fixed;
    top: 0;
    z-index: 10;
}

.content-tab {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.banner {
    background-image: url("/static/images/banner.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.search-tab {
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2em 2em;
    margin: 15em auto 15em auto;
    text-decoration: none;
    color: #333;
    border-radius: 100px;
    text-align: center;
    font-size: large;
}

body {
    background-image: url("/static/images/banner.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.background-image {
  background-image: url("/static/images/banner.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
}


.user_info_form {
  text-align: left;
  top: 100px;
}

.user_info {
  background-color: #fef0eb;
  padding: auto 300px;
}

.user_info_form_title {
  text-align: left;
  margin: 60px 50px;
}


.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.upload {
  font-size: 18px;
  margin: 5px 50px ;
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin: 32px auto 50px auto;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-size: 20px;
}
.Form-Btn:active {
  background-color: #4ba18b;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.empty {
  width: auto;
  height: 84px;
}

.photo-upload {
  margin-left: 40px;
  flex: 1;
  width: 100%;
  font-size: 18px;
}

.upload {
  float: right;
  padding: 0 20px;
}

.profile {
width: 100%;
float: center;
}

.profile-image {
margin: 0 0 0 60px;
width: 30%;
float: left;
}

.text-content {
margin: 0 20px 0 20px;
width: 60%;
float: right;
}

.text-content-title {
width: 30%;
letter-spacing: 0.05em;
font-size: 20px;
margin-right: 30px;
}

.content-input {
width: 50%;
font-size: 20px;
}

.text-content-item {
border-top: 1px solid #ddd;
padding-top: 24px;
padding-bottom: 24px;
display: flex;
align-items: center;
}

/*Matching*/
.matching-container {
  margin: 1em 0;
  padding: 1em;
}

.matching-box {
  margin: 1em 0;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--color-light);
}

.matching-box p {
  font-size: 0.8em;
}

.profile-picture {
  position: relative;
  margin: auto;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 50%;
  background: #dddddd;
  height: 25px;
  width: 25px;
  margin: 2px;
  text-align: center;
  font-size: 0.6em;
  line-height: 25px;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
/**/
