{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div class="form-container container">
    <div class="form text-center">
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <div><label>Username</label></div>
                <input type="text" name="username" placeholder="Username" />
            </div>
            <div>
                <div><label>Password</label></div>
                <input type="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" />
        </form>
    
        <p>Haven't signed up yet?</p>
        <a href='{% url 'user_info' %}'>Sign up</a> 
    </div>
</div>
{% else %}
<div class="form-container container">
    <div class="form text-center">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Register" />
        </form>
        <p>Already have an account</p>
        <a href='{% url 'login' %}'>Login</a>
    </div>
</div>
{% endif %}
{% endblock content %}