{% extends 'main.html' %}
{% block content %}
{% if request.user.role == 1 %}
    <div class="container">
        <h1>Pending matchings:</h1>
        <div class ="mb-4 row">
            {% for matching in s_pending_matchings  %}
            <div class="p-3 col-4">
                <div class="matching-box position-relative my-4">
                    <span>氏名: {{matching.teacher}}</span>
                    <button class="btn btn-secondary me-3 position-absolute end-0">Pending...</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr/>
        <h1>Matched teachers:</h1>
        <div class ="mb-4 row">
            {% for matching in s_matched_matchings  %}
            <div class="p-3 col-4">
                <div class="matching-box position-relative my-4">
                    <span>氏名: {{matching.teacher}}</span>
                    <button class="btn btn-success me-3 position-absolute end-0">Matched</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
<div class="container">
    <h1>Pending matchings:</h1>
    <div class ="mb-4 row">
        {% for matching in t_pending_matchings  %}
        <div class="p-3 col-4">
            <div class="matching-box position-relative my-4">
                <span>氏名: {{matching.user}}</span>
                <div class="row mt-3 text-center">
                    <form class="col-6" action="{% url 'accept-matching' matching.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form class="col-6" action="{% url 'decline-matching' matching.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Decline</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr/>
    <h1>Matched students:</h1>
    <div class ="mb-4 row">
        {% for matching in t_matched_matchings  %}
        <div class="p-3 col-4">
            <div class="matching-box position-relative my-4">
                <span>氏名: {{matching.user}}</span>
                <button class="btn btn-success me-3 position-absolute end-0">Matched</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}