<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{% static 'styles/bootstrap.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="empty"></div>
    <div class="user_info">
    <div class="user_info_form">
        <div class="user_info_form_title">
            <h3>＞ユーザ情報入力フォーム</h3>
        </div>
        
        <div class="Form">
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>写真</p>
                <form method="POST" enctype="multipart/form-data" class="photo-upload">
                <input type="file" id="profile-picture" name="profilePicture" accept="image/*" required>
                <br>
                <input type="submit" value="アップロード" class="upload">
                </form>
            </div>
            <div class="Form-Item">
              <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>氏名</p>
              <input type="text" class="Form-Item-Input" placeholder="例）山田太郎">
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>年齢</p>
                <input type="text" class="Form-Item-Input" placeholder="例）20歳">
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>職業</p>
                <input type="text" class="Form-Item-Input" placeholder="例）学生">
              </div>
            <div class="Form-Item">
              <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>電話番号</p>
              <input type="text" class="Form-Item-Input" placeholder="例）000-0000-0000">
            </div>
            <div class="Form-Item">
              <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
              <input type="email" class="Form-Item-Input" placeholder="例）example@gmail.com">
            </div>
            <div class="Form-Item">
              <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>自分について</p>
              <textarea class="Form-Item-Textarea" placeholder="例）今までに学んだこと、特に学びたいと思っていること など"></textarea>
            </div>
            <input type="submit" class="Form-Btn" value="登録する">
            </div>
        </div>
    </div>
</body>
</html>
